*{
    margin: 0px;
    padding: 0px;}
body{
    background-color: rgb(26, 174, 243);
    text-align: center;
}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5vmin;

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 8vmin;
    color: red;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:#ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height:30vmin
}

.hide{
    display: none;
}